<div id="content">
    <main>
        <section>
            <select name="time" id="time" placeholder="choose a team">
                <option value="" selected disabled hidden>choose a team</option>
                <option value="externo">EXTERNO</option>
                <option value="infra">INFRAESTRUTURA</option>
            </select>
        </section>
        <div id="container-filtro">
            <input type="checkbox" name="filtro[]" value="triangulo">
            <input type="checkbox" name="filtro[]" value="sinal">
            <input type="checkbox" name="filtro[]" value="seta">
        </div>
    </main>

    <button></button>
</div>

