button{
    all: unset;
    width: 240px;
    height: 55px;
    border-radius: 25px;
    border-color: gray;
    font-size: 40px;
    font-weight: 800;
    color: #1D1D1B;
    position: absolute;
    bottom: 40px;
    right: calc(50% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 5px 5px 5px gray,
                -2px -2px 2px rgb(247, 247, 247);*/
}

button:active{
    transition: ease-in, 100ms;
    color: gray;
    /*box-shadow: 5px 5px 5px gray,
                -2px -2px 2px rgb(247, 247, 247) inset;*/
}

#container{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 84px;
}

h1, h2{
    all: unset;
}

h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

h2{
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 10px;
}

main button{
    all: unset;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main button:first-child{
    background-color: var(--azul);
}

main button:last-child{
    background-color: var(--amarelo);
}

main button:first-child:active{
    border-style: solid;
    border-color: var(--azul);
    border-width: 2px;
    background-color: transparent;
    color: var(--azul);
    transition: ease-in-out, 100ms;
    
}

main button:last-child:active{
    border-style: solid;
    border-color: var(--amarelo);
    border-width: 2px;
    background-color: transparent;
    color: var(--amarelo);
    transition: ease-in-out, 100ms;
}