<div id="content">
    <main>
        <section>
            <select (change)="onChange($event)">
                <option selected disabled hidden>choose a team</option>
                <option value="externo">EXTERNO</option>
                <option value="infra">INFRAESTRUTURA</option>
            </select>
        </section>
        <div id="container-filtro">
            <input type="checkbox" name="filtro[]" value="triangulo">
            <input type="checkbox" name="filtro[]" value="sinal">
            <input type="checkbox" name="filtro[]" value="seta">
        </div>
        <div id="container-ticket">
            <ul class="team-list">
            <li
            class="team-item"
            *ngFor="let ticket of tickets"
            (click)="ticketSelecionado = ticket.id"
            [ngClass]="{ 'selected': ticketSelecionado === ticket.id }"
            >
            <div class="col-code">{{ ticket.id }}</div>
            <div class="col-name">{{ ticket.entities_id }}</div>
            <div class="col-status">
                {{ ticket.urgency === 1 ? '!' :
                ticket.urgency === 2 ? '!' :
                ticket.urgency === 3 ? '!!' :
                ticket.urgency === 4 ? '!!' :
                ticket.urgency === 5 ? '!!!' : ticket.urgency }}
            </div>
            </li>

        </ul>
        </div>


    </main>

    <button (click)="ShowHiddenPopUp()">Dispatch</button>
</div>