.content {
    display: grid;
    /* 
       Row 1: Spacer (0% -> 19.48%)
       Row 2: Header Zone (19.48% -> 50.02%) -> Height: 30.54%
       Row 3: Main Zone (50.02% -> 94.48%) -> Height: 44.46%
       Row 4: Footer Zone (94.48% -> 100%) -> Rest
    */
    grid-template-rows: 19.48% 30.54% 42.46% 1fr;
    grid-template-columns: calc(50% - 150px) auto;
    height: 100vh;
}

header {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
    align-self: start;
}

h1, h2, h3{
    margin: 0px;
}

h1{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: var(--preto-palido);
}

h2{
    margin-top: 8px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 200;
    color: var(--cinza);
}

h3{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: var(--cinza-claro);
}

main {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

p {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #de493e;
    align-self: center;
    margin-bottom: 0px;
    max-width: 270px;
}

input {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 100;
    width: 270px;
    height: 4.67vh;
    background-color: white;
    color: var(--cinza);
    border-style: solid;
    border-width: 2px;
    border-color: #c9c6c6;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: gray;
    transition: ease-in-out, 500ms;
}

button {
    margin-top: 2vh;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 800;
    font-size: 16px;
    height: 4.67vh;
    background-color: var(--azul);
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.3px;
}

button .bracket {
    font-size: 11px;
    vertical-align: 2px;
}

button:active{
    transition: ease-in-out, 150ms;
    background-color: var(--azul-escuro);
}

footer{
    grid-row: 4;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}