.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 170px;
    box-sizing: border-box;
    gap: 160px;
}

h1, h2, h3{
    margin: 0px;
    
}

h1{
    font-size: 45px;
}

h2{
    font-weight: 300;
}

h3{
    font-weight: 200;
    font-size: 15px;
    color: gray;
}

main{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

input {
    width: 238px;
    height: 38px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: gray;
    transition: ease-in-out, 500ms;
}

button {
    height: 38px;
    background-color: var(--azul);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    font-kerning: none;
}

button:active{
    transition: ease-in-out, 150ms;
    background-color: var(--azul-escuro);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}