.content {
    height: 844px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 170px;
    box-sizing: border-box;
}

h1, h2{
    margin: 0px;
}

h1{
    font-size: 45px;
}

h2{
    font-weight: 300;
}

main{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

input {
    width: 238px;
    height: 38px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 5px;
}