<div class="content">
    <header>
        <h1 class="poppins">Dispatcher.</h1>
        <h2 class="poppins">For GLPI. By STII.</h2>
    </header>
    <main>
        <input type="text" name="user" placeholder="user" maxlength="6">
        <input type="password" name="password" placeholder="password">
        <button class="poppins" (click) = "Submit()" routerLink="/queue" >&lt;/DISPATCH&gt;</button>
    </main>
    <footer>
        <h3 class="poppins">solved by</h3>
        <h3 class="poppins">JC & RT</h3>
    </footer>
</div>