main{
    width: 240px;
    height: 140px;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

p{
    all: unset;
    margin: 0px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
}

button{
    all: unset;
    width: 96px;
    height: 40px;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

main button:last-child{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    color: var(--cinza-escuro);
}

button:active{
    background-color: transparent;
    color: var(--azul);
    border-style: solid;
    border-width: 2px;
    border-color: var(--azul);
    transition: ease-in-out, 50ms;
}

main button:last-child:active{
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    color: white;
}