@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Light.otf') format('opentype');
  font-weight: 100;   /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Thin.otf') format('opentype');
  font-weight: 200;   /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Regular.otf') format('opentype');
  font-weight: 400;   /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Semibold.otf') format('opentype');
  font-weight: 800;   /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Black.otf') format('opentype');
  font-weight: 900;   /* Black */
  font-style: normal;
}


body{
    background-color: #f8f9ff;
    font-family: 'Poppins', sans-serif;
}

:root{
    --azul: #3e5bde;
    --azul-escuro: #2240C8;
    --cinza: #555555;
    --cinza-claro: #b2b2b2;
    --amarelo: #DEA43E;
    --preto-palido: #1d1d1b;
}