/* You can add global styles to this file, and also import other style files */
.poppins {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
}

:root{
    --azul: #3E5BDE;
    --azul-escuro: #2240C8;
    --cinza-escuro: #555555;
}