/* You can add global styles to this file, and also import other style files */
.poppins {
    font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Thin.otf') format('opentype');
  font-weight: 200;   /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Regular.otf') format('opentype');
  font-weight: 400;   /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/PN-Black.otf') format('opentype');
  font-weight: 900;   /* Black */
  font-style: normal;
}


body{
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
}

:root{
    --azul: #3E5BDE;
    --azul-escuro: #2240C8;
    --cinza-escuro: #555555;
    --amarelo: #DEA43E;
}