/* You can add global styles to this file, and also import other style files */
.poppins {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F8F9FF;
}

:root{
    --azul: #3E5BDE;
    --azul-escuro: #2240C8
}